@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
table,
th,
td,
form,
input,
textarea,
label {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    font-family: "Tektur", sans-serif;
    font-optical-sizing: auto;
}


html {
    scroll-behavior: smooth;
}
h1 {
    font-size: 50px;
    line-height: 65px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 040px 3vw;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
    background-color: #d8ecff;
}
#header {
    height: 100px;
    background: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.06);
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
}

#header .logoa {
    padding-left: 1.5%;

}


#navbar {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: clamp(0%, 7%, 42px);
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}

.logoimg {
    margin-top: 0.45em;
    width: 240px;
}

#mobile {
    display: none;
    align-items: center;
}

#navbar li {
    padding: 0px 20px;
    list-style: none;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: black;
    transition: 0.3s ease;
    /* border-bottom: 3px solid transparent; */


}

#navbar li a:hover,
#navbar li a.active {
    color: #1d20c9;

}

#navbar li a.active::before,
#navbar li a:hover::before {
    content: "";
    width: 30%;
    height: 0%;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#rolex {
    background-image: url('img/main.jpg');
    height: 90vh;
    max-width: 91.4%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#rolex #shopnow {
    text-decoration: none;
    background-color: #ffffff;
    width: 7em;
    height: 1.4em;
    text-align: center;
    border-radius: 20px;
    padding: 0.5em;
    font-weight: 600;
    font-size: 3vh;
    color: #000264;
    margin: 0px 0px 12em 3.2em;
    transition: 0.3s all ease;
}

#rolex #shopnow:hover {
    background-color: #e4e4e4;
}

#rolex #dazzle {
    font-size: 40px;
    font-weight: 600;
    color: #cfccff;
    margin: 20% 0px 40px 70px;
}

.categories {
    font-size: clamp(0px, 10vw, 78px);
    line-height: 0px;
    padding: 0.7em;
    text-align: center;
}
.Product1 {
    text-align: center;
}

.pro_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 70px;
}

.category2 {
    padding: 0px 250px;
}

.all {
    text-decoration: none;
}

.section-p2 {
    margin: 8vh 15vw 1vh 15vw;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pro {
    text-decoration: none;
    border: 1px solid #000;
    background-color: #ffffff;
    width: 16%;
    padding: 10px 12px;
    cursor: pointer;
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02); */
    min-width: 200px;
    border-radius: 10px;
    margin: 15px 0;
    position: relative;
    transition: 0.2 s ease;
    overflow: hidden;
    margin:1em auto;
}

.pro:hover {
    transition: 0.2s all ease-in-out;
    transform: scale(1.1);
}

.pro:not(:hover) {
    transition: 0.2s all ease-in-out;
    transform: scale(1);
}

/*Animation shadow*/
.pro img {
    width: 100%;
    border-radius: 10px;

}

.pro .des {
    text-align: start;
    padding:0 0  10px 0;

}

.pro .des span {
    color: #606063;
    font-size: 12px;
    ;
}

.pro .des h5 {
    /* padding-top: 7px; */
    color: #1a1a1a;
    font-size: 18px;
    width: 80%;
}

.pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.navigation a {
    text-decoration: none;
    color: #642b00;
    font-weight: 600;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navigation a:hover,
.navigation a.active {
    color: #fd882f;

}

.navigation a.active::before,
.navigation a:hover::before {
    content: "";
    width: 30%;
    height: 0%;
    background: #000000;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.pro .cart2 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
    position: absolute;
    bottom: 16px;
    right: 10px;
}

.pro .arrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#newsletter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000264;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-x;
    background-size: cover;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.logo {
    margin-bottom: 30px;
    width: 17vw;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

.copyright p {
    text-align: center;
    margin-top: 3em;
}